#header {
    background-color: violet;
    height: 100px;
}

#main {
    background-color: red;
    height: 500px;
    float: left;
    width: 70%;
}
#side-bar {
    background-color: seagreen;
    height: 500px;
    float: left;
    width: 30%;
}
#footer {
    background-color: sienna;
    clear: both;
}
body {
    background-image:url(/img/background-hc3acnh-ne1bb81n-noel.png);
}
#header, #main, #side-bar, #footer {
    opacity: 0.6;
}
h1 {
    text-align: center;
    font-family:cursive;
    color: violet;
}
.i1 {
    height: 100px;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
}